<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add employee</title>
</head>
<body>
    <!-- 用于用户点击添加按钮后跳转到该页面输入数据，使用 form 表单发送 -->
    <form th:action="@{/employee}" method="post">
        lastName:<input type="text" name="lastName"><br>
        email:<input type="text" name="email"><br>
        gender:<input type="radio" name="gender" value="1">male
               <input type="radio" name="gender" value="0">female<br>
        lastName:<input type="submit" value="add"><br>
    </form>
</body>
</html>